.caption {
    text-align: center;
}

.ingredients-group {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}

.order-group {
    display: grid;
    grid-template-areas:
        "caption caption"
        "input link";
    grid-template-rows: 300px 1fr;
    grid-template-columns: 50% 1fr;
}

.validation-error {
    color: red
}

#order-caption {
    grid-area: caption;
}

#order-input {
    grid-area: input
}

#order-link {
    grid-area: link
}